body {
	background-color: #ccc;
}

.suggestionsinput {
	font-size: 36px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border: 1px solid #999;
	color: #999;
}

#suggestions {
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	width: 460px;
	background-color: #999;
	position: fixed;
	padding: 5px;
	visibility: hidden;
}